body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:313px;
    top:14px;
    width:306px;
    height:488px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:494px;
}

.u1 {
    position:absolute;
    left:2px;
    top:236px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:398px;
    top:29px;
    width:123px;
    height:118px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:123px;
    height:118px;
}

.u3 {
    position:absolute;
    left:2px;
    top:51px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:378px;
    top:219px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:421px;
    top:320px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:421px;
    top:210px;
    width:145px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:421px;
    top:272px;
    width:145px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:342px;
    top:210px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:342px;
    top:276px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:337px;
    top:355px;
    width:253px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:337px;
    top:407px;
    width:253px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:337px;
    top:461px;
    width:253px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../Home_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:337px;
    top:355px;
    width:33px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:25px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:337px;
    top:407px;
    width:33px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:25px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_container {
    position:absolute;
    left:337px;
    top:460px;
    width:33px;
    height:26px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:5px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

